html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgb(219, 219, 219); */
}



img,
embed,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
}


::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(236, 231, 231, 0.3);
    border-radius: 5px;
    background: rgba(221, 197, 197, 0);
}

/*背景色 */
:root {
    --theme_input_color:#e13e3e;
    --theme_bg_color: #ec4141;
    --theme_font_color: #ffffff;
    --theme_btn_color:#ffffff;
    --theme_btn_border_color:#d8d8d8;
    --theme_bg_color_red: #ec4141;
    --theme_bg_color_white: #ffffff;
    --theme_bg_color_brown: #c07505;
    --theme_bg_color_silver: #aeaeae9c;
    --theme_bg_color_blueGreen: #23ad8ff5;
    --box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
}


.pointer {
    cursor: pointer;
}

.default {
    cursor: default
}

.w-150 {
    width: 150px;
}

.w-100 {
    width: 100px;
}


.mtop-5 {
    margin-top: 5px;
}


.mtop-10 {
    margin-top: 10px;
}

.mtop-20 {
    margin-top: 20px;
}

.mtop-30 {
    margin-top: 30px;
}


.mbtm-10 {
    margin-bottom: 10px;
}

.mbtm-20 {
    margin-bottom: 20px;
}

.mleft-5 {
    margin-left: 5px;
}

.mleft-10 {
    margin-left: 10px;
}

.mleft-12 {
    margin-left: 12px;
}

.mleft-15 {
    margin-left: 15px;
}

.mleft-20 {
    margin-left: 30px;
}


.mleft-30 {
    margin-left: 30px;
}


.mright-5 {
    margin-right: 5px;
}

.mright-10 {
    margin-right: 10px;
}

.mright-12 {
    margin-right: 12px;
}

.mright-20 {
    margin-right: 20px;
}

.mright-30 {
    margin-right: 30px;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}



.fontbd-700 {
    font-weight: 700;
}

.font-bold {
    font-weight: bold;
}

.pd-10 {
    padding: 10px;
}

.pd-5 {
    padding: 5px;
}

.no-btn {
    border: 0;
    color: #676767;
    background-color: white;
    cursor: pointer;
}

.no-btn:hover {
    color: black;
}

.btn {
    border: none;
    outline: none;
    height: 30px;
    padding: 4px 14px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    white-space: nowrap;
}

.btn-red {
    border: 1px solid var(--theme_btn_border_color);
    background-color: var(--theme_bg_color);
    color: var(--theme_btn_color);
}

.btn-red:hover {
    background-color: var(--theme_bg_color);
}

.btn-white {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    color: #373737;
}

.btn-white:hover {
    background-color: rgba(207, 207, 207, 0.3);
}

.text-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line {
    border-bottom: 1px solid #e0e0e0;
}

.border-right {
    border-right: 1px solid #e0e0e0;
}

.author-color {
    color: #b1b1b1;
}

.min-color {
    color: #8f8f8f;
}

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.playview-color {
    color: #5d86b5;
}

.text-desc {
    text-indent: 2em;
    line-height: 2;
    width: 100%;
    color: #676767;
}