html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgb(219, 219, 219); */
}

p, ul, li {
    margin: 0;
    padding: 0;
}

.w-150 {
    width: 150px;
}

.w-100 {
    width: 100px;
}

.mleft-12 {
    margin-left: 12px;
}

.pointer {
    cursor: pointer;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.btn {
    border: none;
    outline: none;
    height: 30px;
    padding: 4px 14px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-red {
    background-color: #ec4141;
    color: #fff;
}

.btn-white {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    color: #373737;
}

.text-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}